
.fab {
  position: fixed;
  bottom: 2%;
  cursor: pointer;
}

.fab-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #20BF55;
  width:  74px;
  height: 74px;
  font-style: normal;
  font-size: 4em;
  cursor: pointer;
  z-index: 21;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.fab:hover > .fab-icon {
  border-radius: 0;
}

.fab-content {
  font-size: 1.75em;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  opacity: 0;
  transition-duration: 250ms;
  height: 80px;
  width: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab:hover > .fab-content {
  background-color: #20BF55;
  z-index: -1;
  opacity: 1;
  visibility: visible;
  transform: translateX(20px);
}

.fab .fab-content {
  /* we have to add our offset and border */
  bottom: calc(2%);
}

.fab.right {
  right: 2%;
}

.fab.left {
  left: 2%;
}

.fab.right .fab-content {
  /* Use half our width from the fab icon and add the padding from the right*/
  right: calc(2% + 40px);
  text-align: left;
}

.fab.right:hover > .fab-content {
  transform: translateX(-15px);
}

.fab.left .fab-content {
  /* Use half our width from the fab icon and add the padding from the right*/
  left: calc(2% + 40px);
}

.fab.left:hover > .fab-content {
  transform: translateX(15px);
}


